<%- include partials/header%>
<%- include partials/main_nav%>
    <main class="container">
        <div class="jumbotron">
            <h1 class="display-4"><%=title%></h1>
            <div class="row justify-content-md-center">
                <div class="col col-lg-2 text-center">
                  <img src="/img/head.png" alt="head" style: width="116px"; height="150px";>
                  <p>Jiajun Li</p>
                </div>
                <div class="col-md-auto">
                  <p>I am an AI-software developer.</p>
                  <p>I am passionate about back-end algorithums and data structures. I love to design and configure efficient methods in OOP programming. Although I make errors very often ;)</p>
                  <p>Here is my resume: <a href="">RESUME</a>.</p>
                </div>
                <div class="col col-lg-2">     
                </div>
            </div>      
        </div>
    </main>
<!--bottom nav-->

<!--script section-->
<%- include partials/bottom_nav%>
<%- include partials/footer%>



