<%- include partials/header%>
<%- include partials/main_nav%>
    <main class="container">
        <div class="jumbotron">
            <h1 class="display-4"><%=title%></h1>
            <p>I can be reached by <a href="mailto: iambagejiajun@outlook.com">Email</a></p>
            <label for="Message">Leave any message for me here:</label><br>
            <textarea id="msg" name="msg" rows="4" cols="50" placeholder="Hi Jiajun."></textarea>
            <form action="/"><input type="submit" value="Hitme"/></form>
        </div>
    </main>
<!--bottom nav-->

<!--script section-->
<%- include partials/bottom_nav%>
<%- include partials/footer%>



