<%- include partials/header%>
<%- include partials/main_nav%>
    <main class="container">
        <div class="jumbotron">
            <h1 class="display-4"><%=title%></h1>
            <p>Welcome to my protfolio! My name is Jiajun Li, a <span class="emphasized">software developer</span> on <span class="emphasized">Artificial Intelligence direction.</span></p>
            <h3 class="display-6">Mission Statement</h3>
            <p class="a">I aim to contribute to a product that will be used by everyone in ten years.</p>
        </div>
    </main>
<!--bottom nav-->

<!--script section-->
<%- include partials/bottom_nav%>
<%- include partials/footer%>



