<%- include partials/header%>
<%- include partials/main_nav%>
    <main class="container">
        <div class="jumbotron">
            <h1 class="display-4"><%=title%></h1>
            <br>
            <div class="grid">
                <div class="g-col-6 g-col-md-3"></div>
                <div class="g-col-6 g-col-md-6">
                    <h3 class="display-6">•	BugSmasher Game</h3>
                    <p>Developed a web page game program that allows user to click their mouse to eliminate a 
                        bug with increasing difficulty by shortening the appear time interval and a scoreboard
                    </p>
                    <div class="image">
                    <img src="/img/bugSmasher.png" alt="bugSmasher" style: width="210px"; height="300px";/> 
                    </div>
                </div>
                <div class="g-col-6 g-col-md-3"></div>
            </div>
            <br><br>
            <div class="grid">
                <div class="g-col-6 g-col-md-3"></div>
                <div class="g-col-6 g-col-md-6">
                    <h3 class="display-6">•	Application System Design</h3>
                    <p>Perform requirements analysis and architecture design for a campus student meeting and book 
                        exchange application; Design diagrams base on a complete MVC architecture
                    </p>
                    <div class="image">
                    <img src="/img/softwareSystem.png" alt="softwareSystem" style: width="450px"; height="300px";/> 
                    </div>
                </div>
                <div class="g-col-6 g-col-md-3"></div>
            </div>
            <br><br>
            <div class="grid">
                <div class="g-col-6 g-col-md-3"></div>
                <div class="g-col-6 g-col-md-6">
                    <h3 class="display-6">•	Transportation Condition Classifier</h3>
                    <p>Supervised learning project; pre-processing traffic dataset and train multiple models and select the most
                        accurate one for classifier. Save as pkl file and use to build API with flask
                    </p>
                    <div class="image">
                    <img src="/img/roadPredict.png" alt="userInterface" style: width="300px"; height="200px";/> 
                    <img src="/img/Spyder.png" alt="backendCode" style: width="300px"; height="200px";/>
                    </div>
                </div>
                <div class="g-col-6 g-col-md-3"></div>
            </div>
        </div>
    </main>
<!--bottom nav-->

<!--script section-->
<%- include partials/bottom_nav%>
<%- include partials/footer%>



