<%- include partials/header%>
<%- include partials/main_nav%>
    <main class="container">
        <div class="jumbotron">
            <h1 class="display-4"><%=title%></h1>
            <p>I offer a variety of online programming services, please contact me.</p><br>
            <h4><img src="/img/programmingIcon.png" alt="icon" style: height="35px"; width="auto";/> Object Oriented Programming</h4>
            <p> - Java, Python, C#, Javascript</p><br>
            <h4><img src="/img/UIicon.png" alt="icon" style: height="30px"; width="auto";/> Web/Mobile application UI design and configuration</h4>
            <p> - Superior asthetic when it comes to developing appealing web pages and UI interfaces</p><br>
            <h4><img src="/img/oracleIcon.jpg" alt="icon" style: height="30px"; width="auto";/> Database Management</h4>
            <p> - Skilled with Oracle SQL, PL/SQL database languages</p>
        </div>
    </main>
<!--bottom nav-->

<!--script section-->
<%- include partials/bottom_nav%>
<%- include partials/footer%>



